.App {
    display:flex;
    align-items:center;
    flex-direction: column;
    padding: 10px;
    
}
.App .gallery{
    display:flex;
    width:500px;
    
    
}
.App .gallery .zaznam{
    display: flex;
    align-items: center;
    
    
    
}
.App .gallery .zaznam .obraz img{
    display: flex;
    border-radius: 50%;
    


    
}
.App .gallery .zaznam .meno{
    align-items: flex-start;
    font-weight: bold;
    padding: 20px;
    
}
.App .gallery .zaznam .meno .mail{
    font-weight: normal;
}
button {
    border-radius:50px;
    background: #01bf71;
    white-space:nowrap;
    padding:10px 22px;
    color: #010606;
    font-size:16px;
    border: 1px solid black;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
    text-decoration:none;
}
button:hover{
    transition: all 0.2s ease-in-out;
    background:#fff;
    color:#010606;
}